
@import "@carbon/themes/scss/themes";

:root {
@include carbon--theme($carbon--theme--white, true);

}

:root[theme="g10"] {
@include carbon--theme($carbon--theme--g10, true);
}

:root[theme="g90"] {
@include carbon--theme($carbon--theme--g90, true);
}

:root[theme="g100"] {
@include carbon--theme($carbon--theme--g100, true);
}
$feature-flags: (
enable-css-custom-properties: true,
grid-columns-16: true
);
$css--font-face: false;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: false;
$css--default-type: false;
$css--plex: false;
$carbon--font-families: (
  'mono':
    unquote(
      "'Roboto', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace"
    ),
  'sans': unquote("'Roboto', 'Helvetica Neue', 'Arial', sans-serif"),
  'sans-condensed':
    unquote("'Roboto', 'Helvetica Neue', 'Arial', sans-serif"),
  'sans-hebrew':
    unquote(
      "'Roboto', 'Helvetica Hebrew', 'Arial Hebrew', sans-serif"
    ),
  'serif': unquote("'Roboto', 'Georgia', 'Times', serif"),
) !default;


@import "@carbon/type/scss/type";
@import "carbon-components/scss/globals/scss/_css--reset";
// @import "carbon-components/scss/globals/scss/_css--font-face.scss";
@import "carbon-components/scss/globals/scss/_css--helpers";
@import "carbon-components/scss/globals/scss/_css--body";
@import "carbon-components/scss/globals/grid/_grid";


@include carbon--type-reset();
/* import individual components SCSS */
